# Dimensionality Reduction using Julia

In [7]:
using MultivariateStats, Plots, Random, VegaDatasets, DataFrames

In [10]:
DF = DataFrame(VegaDatasets.dataset("cars"))
dropmissing!(DF)

392×9 DataFrame
 Row │ Name                               Miles_per_Gallon  Cylinders  Displac ⋯
     │ String                             Float64           Int64      Float64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ chevrolet chevelle malibu                      18.0          8          ⋯
   2 │ buick skylark 320                              15.0          8
   3 │ plymouth satellite                             18.0          8
   4 │ amc rebel sst                                  16.0          8
   5 │ ford torino                                    17.0          8          ⋯
   6 │ ford galaxie 500                               15.0          8
   7 │ chevrolet impala                               14.0          8
   8 │ plymouth fury iii                              14.0          8
  ⋮  │                 ⋮                         ⋮              ⋮           ⋮  ⋱
 386 │ dodge charger 2.2                              36.0          4          ⋯
 387 │ chevrolet camaro                               27.0          4
 388 │ ford mustang gl                                27.0          4
 389 │ vw pickup                                      44.0          4
 390 │ dodge rampage                                  32.0          4          ⋯
 391 │ ford ranger                                    28.0          4
 392 │ chevy s-10                                     31.0          4
                                                  6 columns and 377 rows omitted

In [21]:
names(DF)
@show describe(DF)
DF[1,2:end]

describe(DF) = 9×7 DataFrame
 Row │ variable          mean     min                      median  max               nmissing  eltype
     │ Symbol            Union…   Any                      Union…  Any               Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ Name                       amc ambassador brougham          vw rabbit custom         0  String
   2 │ Miles_per_Gallon  23.4459  9.0                      22.75   46.6                     0  Float64
   3 │ Cylinders         5.47194  3                        4.0     8                        0  Int64
   4 │ Displacement      194.412  68.0                     151.0   455.0                    0  Float64
   5 │ Horsepower        104.469  46                       93.5    230                      0  Int64
   6 │ Weight_in_lbs     2977.58  1613                     2803.5  5140                     0  Int64
   7 │ Acceleration      15.5413  8.0                      15.5    24.8                     0  Float64
   8 │ Year                       1970-01-01                       1982-01-01               0  String
   9 │ Origin                     Europe                           USA                      0  String

DataFrameRow
 Row │ Miles_per_Gallon  Cylinders  Displacement  Horsepower  Weight_in_lbs  A ⋯
     │ Float64           Int64      Float64       Int64       Int64          F ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │             18.0          8         307.0         130           3504    ⋯
                                                               3 columns omitted

In [24]:
X = Matrix(DF[!,2:7])
y = Vector{String}(DF.Origin)
Origin = reshape(unique(DF.Origin), (1,3))

1×3 Matrix{String}:
 "USA"  "Japan"  "Europe"

In [31]:
model = fit(PCA,X',maxoutdim=5)

PCA(indim = 6, outdim = 1, principalratio = 0.9975535062891329)

Pattern matrix (unstandardized loadings):
────────────
         PC1
────────────
1   -6.49968
2    1.53388
3   97.8372
4   33.3426
5  849.39
6   -1.15758
────────────

Importance of components:
────────────────────────────────────
                                 PC1
────────────────────────────────────
SS Loadings (Eigenvalues)  7.32192e5
Variance explained         0.997554
Cumulative variance        0.997554
Proportion explained       1.0
Cumulative proportion      1.0
────────────────────────────────────

In [33]:
X_transform = transform(model, X')

UndefVarError: UndefVarError: transform not defined